<form>
	<p>
		<label for="name">Field Name</label>
		<input type="text" name="name" data-bind="value: form.name"/>
		<select name="type" data-bind="value: form.type">
			<option value="dropdown">Dropdown</option>
			<option value="hierarchical">Hierarchical</option>
			<option value="html">HTML</option>
			<option value="text">Text</option>
		</select>
	</p>
	<!-- ko if: form.type() == 'dropdown' -->
		<p>Values<br>
		<!-- ko foreach: form.values -->
			<input type="text" data-bind="value: value"/>
			<button class="btn btn-warning" data-bind="click: $parent.form.removeValue">Remove</button>
			<br>
		<!-- /ko -->
		</p>
		<p>
			<button class="btn btn-info" data-bind="click: form.addValue">Add Value</button>
		</p>
	<!-- /ko -->
	<!-- ko if: form.type() == 'hierarchical' -->
		<p>Values</p>
		<ul class="breadcrumb" data-bind="foreach: form.valueHierarchy">
			<li data-bind="visible: $index() == ($parent.form.valueHierarchy().length - 1)">
				<span class="divider">/</span>
				<span data-bind="text: value"></span>
			</li>
			<li data-bind="visible: $index() != ($parent.form.valueHierarchy().length - 1)">
				<span class="divider">/</span>
				<a href="#" data-bind="text: value, click: $parent.form.goToValue"></a>
			</li>
		</ul>
		<ul data-bind="foreach: form.activeHierarchicalValue().children">
			<li><a href="#" data-bind="text: value, click: $parent.form.goToValue"></a></li>
		</ul>
		<p>
			<input type="text" data-bind="value: form.hierarchicalValue"/>
			<button class="btn btn-info" data-bind="click: form.addHierarchicalValue">Add Value</button>
		</p>
	<!-- /ko -->
	<p>
		<button class="btn btn-primary" data-bind="click: createField">Create Field</button>
		<button class="btn btn-danger" data-bind="click: goToListingView">Cancel</button>
	</p>
</form>