<h2>Articles</h2>
<!-- ko foreach: successfulCreates -->
	<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<p>Successfully created 
			<a href="#" data-bind="text: name, click: $parent.goToViewArticle"></a>
		</p>
	</div>
<!-- /ko -->
<!-- ko foreach: successfulDeletes -->
	<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<p>Successfully deleted <span data-bind="text:name"></span></p>
	</div>
<!-- /ko -->
<table class="table table-striped table-hover" data-bind="visible: articles().length > 0">
	<thead>
		<tr>
			<th>Name</th>
		</tr>
	</thead>
	<tbody data-bind="foreach: articles">
		<tr>
			<td data-bind="text: name, click: $parent.goToViewArticle"></td>
		</tr>
	</tbody>
</table>
<p data-bind="visible: articles().length == 0">No articles exist.</p>
<p>
	<button class="btn btn-primary" data-bind="click: goToCreateArticle">
		Create Article
	</button>
</p>